# Environments
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Logs
logs/

# Testing
.coverage
.results.xml

# Autograder Scripts
.autograder

# I/O Test Files
.input
.output
.test

# IDE Data
.vscode
