# Environments
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Logs
logs/

# Test Coverage
.coverage

# Autograder Scripts
.autograder

# Input Test
.test.txt
